body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8b0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.header {
    background-color: #e0e0e0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.exit-button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.exit-form {
    padding: 20px;
}

.exit-form h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input[type="file"] {
    padding: 5px;
}

.submit-button {
    width: 100px;
    height: 40px;
    background-color: green;
    color: white;
    text-align: center; /* Center text horizontally */
    line-height: 40px; /* Center text vertically */
    margin: 0 auto; /* Center horizontally */
    display: block; /* Ensures margin: 0 auto; works */
}
.Employee{
    display: flex;
    flex-direction: row;
    color: blue;
}
